head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
  meta(name="description" content=app.description)
  title
    = app.site_name
  link(href='/stylesheets/style.css', rel='stylesheet')
  link(href='/css/bootstrap.min.css', rel='stylesheet')