doctype html
html
  include ../header.pug

  block title
    title
      = t('dashboard.auth.login')

  block head_scripts
    include ../_header.pug

  block content
    body.bg-dark
      .container
        .card.card-login.mx-auto.mt-5
          .card-header
            = t('dashboard.auth.login')
          .card-body
            form(role='form', action="/auth/login", method="post")
              .form-group
                label(for='inputEmail') 
                  = t('dashboard.auth.email')
                input#inputEmail.form-control(name='email', type='email', placeholder= t('dashboard.auth.email'))
              .form-group
                label(for='inputPassword')
                  = t('dashboard.auth.password')
                input#inputPassword.form-control(name='password', type='password', placeholder= t('dashboard.auth.password'))
              button.btn.btn-primary.btn-block(type="submit") 
                = t('dashboard.auth.login')
  include ../_footer