if warning && warning.length > 0  
  .alert.alert-danger.alert-dismissible.fade-in(role="alert")
    button.close(type="button" data-dismiss="alert" aria-label="Close")
      span(aria-hidden="true") ×
    p.text-center= warning

if success && success.length > 0
  .alert.alert-success.alert-dismissible.fade-in(role="alert")
    button.close(type="button" data-dismiss="alert" aria-label="Close")
      span(aria-hidden="true") ×
    p.text-center= success
