doctype html
html
  include ./header.pug
  block title
    title Nkan Panel

  block head_scripts
    include ./_header.pug
  
  body#page-top.fixed-nav.sticky-footer.bg-dark
  include ./navbar.pug
  .content-wrapper
    .container-fluid
      include ./_flash.pug
      block content
    include ./footer.pug
  
  block footer_scripts
    include ./_footer.pug