nav#mainNav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
  a.navbar-brand(href='index.html') NKAN
  button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarResponsive.collapse.navbar-collapse
    ul#exampleAccordion.navbar-nav.navbar-sidenav
      li.nav-item(data-toggle='tooltip', data-placement='right', title='Dashboard')
        a.nav-link(href='/dashboard')
          i.fa.fa-fw.fa-dashboard
          span.nav-link-text
            | Dashboard
      li.nav-item(data-toggle='tooltip', data-placement='right', title='Data Sets')
        a.nav-link.nav-link-collapse.collapsed(data-toggle='collapse', href='#collapseDatasets', data-parent='#exampleAccordion')
          i.fa.fa-fw.fa-table
          span.nav-link-text
            | Data Sets
        ul#collapseDatasets.sidenav-second-level.collapse
          li
            a(href='/dashboard/dataset') All data sets
          li
            a(href='/dashboard/dataset/new') New
      li.nav-item(data-toggle='tooltip', data-placement='right', title='Category')
        a.nav-link.nav-link-collapse.collapsed(data-toggle='collapse', href='#collapseCategories', data-parent='#exampleAccordion')
          i.fa.fa-fw.fa-folder
          span.nav-link-text
            | Category
        ul#collapseCategories.sidenav-second-level.collapse
          li
            a(href='/dashboard/category') All categories
          li
            a(href='/dashboard/category/new') New

      li.nav-item(data-toggle='tooltip', data-placement='right', title='Pages')
        a.nav-link.nav-link-collapse.collapsed(data-toggle='collapse', href='#collapsePages', data-parent='#exampleAccordion')
          i.fa.fa-fw.fa-file
          span.nav-link-text
            | Pages
        ul#collapsePages.sidenav-second-level.collapse
          li
            a(href='/dashboard/page') All pages
          li
            a(href='/dashboard/page/new') New
      li.nav-item(data-toggle='tooltip', data-placement='right', title='Users')
        a.nav-link.nav-link-collapse.collapsed(data-toggle='collapse', href='#collapseUsers', data-parent='#exampleAccordion')
          i.fa.fa-fw.fa-users
          span.nav-link-text
            | Users
        ul#collapseUsers.sidenav-second-level.collapse
          li
            a(href='/dashboard/user') All users
          li
            a(href='/dashboard/user/new') New
    ul.navbar-nav.ml-auto
      li.nav-item
        a.nav-link
          i.fa.fa-fw.fa-sign-out
          = t('auth.logout')