extends ../layout
block title
  title
    = t('dashboard.navbar.categories')

block head_scripts
  include ./../_header.pug
  link(href='/css/dataTables.bootstrap4.css', rel='stylesheet')  

block content
  .card.mb-3
    .card-header
      i.fa.fa-table
        = t('dashboard.navbar.categories')
    .card-body
      .table-responsive
        table#dataTable.table.table-bordered(width='100%', cellspacing='0')
          thead
            tr
              th 
                = t('dashboard.category.title')
              th
                = t('dashboard.category.slug')
              th
                = t('dashboard.manage')
          tbody
            each category in categories
              tr
                td= category.title
                td= category.slug
                td
                  div(style="display: -webkit-box;")
                    a(href='/dashboard/category/' + category.id) 
                      button.btn
                        = t('dashboard.edit')
                    span 
                    form(method="post" action='/dashboard/category/' + category.id)
                      input(type="hidden" name="_method" value="DELETE")
                      button.btn.btn-danger(type='submit')
                        = t('dashboard.delete')

block footer_scripts
  include ./../_footer.pug
  script(src='/js/jquery.dataTables.js')
  script(src='/js/dataTables.bootstrap4.js')
  script(src='/js/sb-admin-datatables.min.js')                   