extends ../layout
block title
  title Categories

block head_scripts
  include ./../_header.pug
  link(href='/css/dataTables.bootstrap4.css', rel='stylesheet')  

block content
  .card.mb-3
    .card-header
      i.fa.fa-table
      | Categories
    .card-body
      .table-responsive
        table#dataTable.table.table-bordered(width='100%', cellspacing='0')
          thead
            tr
              th Title
              th Url
              th Manage
          tbody
            each category in categories
              tr
                td= category.title
                td= category.url
                td
                  a(href='/dashboard/category/' + category.id) Edit 
                  span |
                  a(href='/dashboard/category/' + category.id)  Delete

block footer_scripts
  include ./../_footer.pug
  script(src='/js/jquery.dataTables.js')
  script(src='/js/dataTables.bootstrap4.js')
  script(src='/js/sb-admin-datatables.min.js')                   