extends ../layout

block content
  ol.breadcrumb
    li.active New Category

  form(role='form', action="/dashboard/category/create", method="post")
    .form-group
      label(for="category_title") Title
      input.form-control(type='text', name="title" id="category_title")
    .form-group
      label(for="category_url") Url
      input.form-control(type='text', name="url" id="category_url")
    button.btn.btn-default(type='submit') Submit