extends ../layout
block title
  title New Category

block content
  ol.breadcrumb
    li.active New Category
  include ../_error.pug

  form(role='form', action="/dashboard/category", method="post")
    .form-group
      label(for="category_title") Title
      input.form-control(type='text', name="title" id="category_title", required="")
    .form-group
      label(for="category_slug") Slug
      input.form-control(type='text', name="slug" id="category_slug", required="")
    button.btn.btn-default(type='submit') Submit