h5.card-header= t('app.categories')
.card-body
  .row
    .col-lg-6
      ul.list-unstyled.mb-0
        each category in categories
          li
            a(href="?category=" + category.id) 
              = category.title
    .col-lg-6
      ul.list-unstyled.mb-0