.card.mb-4
  .card-body
    h2.card-title= dataset.title
    p.card-text= dataset.description
    a.btn.btn-primary(href="/dataset/" + dataset.slug)= t('app.read_more')
  .card-footer.text-muted= dataset.createdAt.toDateString()