extends ../layout

block title
  title Settings

block content
  form(role='form', action="/dashboard/setting", method="post")
    .form-group
      label(for="site_title") Site Title
      input.form-control(type='title', name="", id="site_title")
    .form-group
      label(for="site_description") Description
      textarea.form-control(name="body", id="site_description")
    .form-group
      label(for="site_template") Description
      select(class="form-control" id="site_template")
        option Basic    
    button.btn.btn-default(type='submit') Submit