extends ../layout
block title
  title New page

block content
  ol.breadcrumb
    li.active New Page
  
  form(role='form', action="/dashboard/page", method="post")
    .form-group
      label(for="page_title") Title
      input.form-control(type='text', name="title", id="page_title")
    .form-group
      label(for="user_password") Body
      textarea.form-control(name="body", id="page_body")
    button.btn.btn-default(type='submit') Submit