extends ../layout
block title
  title
    = t('dashboard.edit')

block content
  ol.breadcrumb
    li.active
      = t('dashboard.edit')
    include ../_error.pug
  
  form(role='form', action='/dashboard/user' + user.id, method="post")
    .form-group
      label(for="user_email") Email
      input.form-control(type='email', name="email", id="user_email", required="", value=user.email)
    .form-group
      label(for="user_password") Password
      input.form-control(type='text', name="password", id="user_password")
    .form-group
      .form-check
        input#adminCheck.form-check-input(type="checkbox", name="admin", value=user.admin)
        label.form-check-label(for="adminCheck")
          | Admin
    button.btn.btn-default(type='submit') Submit