extends ../layout

block content
  ol.breadcrumb
    li.active New User
  
  form(role='form', action="/dashboard/user", method="post")
    .form-group
      label(for="user_title") Email
      input.form-control(type='text', name="email", id="user_title")
    .form-group
      label(for="user_password") Password
      input.form-control(type='text', name="url", id="user_password")
    .form-group
      .form-check
        input#adminCheck.form-check-input(type="checkbox", name="user_admin", value="")
        label.form-check-label(for="adminCheck")
          | Admin
    button.btn.btn-default(type='submit') Submit